html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 12px;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  outline: none; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

button {
  border: 0;
  outline: none; }

button:active {
  outline: none;
  border: 0; }

button:hover {
  outline: none;
  border: 0; }

body {
  background: #fff;
  line-height: 1em;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: arial; }

@media (max-width: 400px) {
  .content-wrap {
    margin: 1em;
    width: auto;
    height: auto;
    background: green; }

  ul.gr-flex {
    display: flex;
    flex-direction: column; }

  ul.menu-flex > li {
    width: auto;
    list-style: none;
    display: block; } }
@media (min-width: 400px) {
  .content-wrap {
    margin: 1em;
    width: auto;
    height: auto;
    background: green; }

  ul.gr-settings {
    float: left;
    display: flex;
    flex-direction: row; }

  ul.gr-flex li {
    display: inline-block;
    float: left; }

  ul.menu-flex {
    width: auto;
    background: green;
    list-style: none;
    display: flex;
    flex-direction: row; }

  .menu-flex li:nth-child(3) {
    background: red;
    order: 5; }

  .menu-flex li:nth-child(4) {
    background: red;
    clear: both; } }
ul.menu-flex li {
  background: blue;
  overflow: hidden; }

.mDrop, .grDrop {
  display: none;
  height: 0; }

.show {
  display: block;
  height: auto; }

button {
  padding: 0.5em 1em 0.5em 1em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.2em; }

h1 {
  padding-bottom: 0.5em; }

/*

.grid {
  max-width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
  grid-auto-rows: minmax(400px, auto);
  grid-gap: 20px;
}

.items {
  background-color: #f2f2f2;
  margin: auto;
}

.container {
  max-width: 400px;
}

button { padding:10px 00px 10px 00px; }


.nav-grid {
    margin-top: 20px;
    max-width: auto;
    display: grid;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    grid-gap: 10px;
}

.note-item { border: 0px solid black; font-size: 30px;}

.note-grid {
  display: grid;
  max-width: auto;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  grid-auto-rows: minmax(400px, auto);
  grid-gap: 20px;
}

*/
footer {
  width: auto;
  text-align: center;
  padding: 30px 0 30px 0px;
  clear: both; }

/*# sourceMappingURL=styles.css.map */
