@import 'reset';

body { background: #fff; line-height: 1em;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: arial; }

// media queries

@media (max-width: 400px) {
  .content-wrap { margin: 1em; width: auto; height: auto; background: green; }
  ul.gr-flex { display: flex; flex-direction: column;}
  ul.menu-flex > li {
        width: auto;
        list-style: none;
        display: block;

  }
}
@media (min-width: 400px) {
  .content-wrap { margin: 1em; width: auto; height: auto; background: green;}
  ul.gr-settings { float: left; display: flex; flex-direction: row; }
  ul.gr-flex li { display: inline-block; float: left; }
  ul.menu-flex {
        width: auto;
        background: green;
        list-style: none;
        display: flex;
        flex-direction: row;
      }
  .menu-flex li:nth-child(3) { background: red; order: 5;}
  .menu-flex li:nth-child(4) {background: red; clear: both;}
}


// flex definitions

ul.menu-flex li{ background: blue; overflow: hidden; }

ul.menu-flex li:nth-child(1){

}
ul.menu-flex li:nth-child(2){

}
ul.menu-flex li:nth-child(3){

}
ul.menu-flex li:nth-child(4){

}
ul.menu-flex li:nth-child(5){

}

// content show and hide
.mDrop, .grDrop { display: none; height: 0;}
.show { display: block; height: auto;}

// buttons styling

button {
  padding: 0.5em 1em 0.5em 1em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.2em;
}

h1 {
  padding-bottom: 0.5em;
}


/*

.grid {
  max-width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
  grid-auto-rows: minmax(400px, auto);
  grid-gap: 20px;
}

.items {
  background-color: #f2f2f2;
  margin: auto;
}

.container {
  max-width: 400px;
}

button { padding:10px 00px 10px 00px; }


.nav-grid {
    margin-top: 20px;
    max-width: auto;
    display: grid;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    grid-gap: 10px;
}

.note-item { border: 0px solid black; font-size: 30px;}

.note-grid {
  display: grid;
  max-width: auto;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  grid-auto-rows: minmax(400px, auto);
  grid-gap: 20px;
}

*/

footer {
  width: auto;
  text-align: center;
  padding: 30px 0 30px 0px;
  clear: both;
}



//  grid-template-columns: repeat(3, minmax(200px, 1fr)); //
