@import 'reset';
@import 'normalize';
@import 'body';
@import 'extends';

* {
  box-sizing: border-box;
}

#wrap {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow: auto;

}

#menu-switch {
  height: 30px;
  width: 25px;
  background-color: darken(#fff, 7%);
  position: absolute;
  left: 265px;
  top: 10px;
  &:hover { cursor: pointer; }
}

i.arrow-left {
  @extend %arrow;
  padding: 3px;
  position: relative;
  left: 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

i.arrow-menu {
  @extend %arrow-menu;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#side-bar {
  background-color: darken(#fff, 7%);
  min-width: 300px;
  overflow-y: auto;

  & a { color: black; font-size: 14px;}

  & p { padding-left: 37%; padding-top: 2em;}
  & ul.menu { padding: 2em 2.5em 2.5em 2.5em ; }
  & ul.menu li{ padding-top: 0.5em; }
  & ul.menu li:before { content: ''; }
  & ul.menu-css { padding-left: 1em; }
  & ul.menu-css li:before { content: '- '; }
}

#copyrights { text-align: center; font-size: 14px; }

#content {
  overflow: auto;
  padding: 0em 2em 5em 2em;
  width: 100%;
  height: 100%;
  & h1 { font-size: 32px; text-align: center; margin-top: 1em; }
}

.item {
  margin: 0 auto;
  margin-top: 3em;
  width: auto;
  max-width: 860px;
  & p { padding-bottom: 0.5em; }
  & h2 { font-size: 28px; padding-bottom: 0.5em;}
  & ul { 
    padding: 1.5em; background-color:#fff7e6; 
    border: 1px solid #ffebbc; margin-bottom: 1.5em; 
  }
  & ul li{ padding-top: 0.4em; }
  & ul li:first-child { padding-top: 0; }

}


.code-wrap { }
 code, pre {
  width: auto;
}
