<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Web Core</title>
  <meta name="description" content="documentation">
  <meta name="author" content="wizzfx">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/styles.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>



  <script>

      $(window).resize(function() {
        if ($(window).width() < 500) {
           console.log('Less than 500');
           $('ul.itemExtraFieldslist').find('li.price').appendTo('ul.itemExtraFieldslist');
        }
      });

  </script>



<script>

    $(window).resize(function() {
      if ($(window).width() > 500) {
         console.log('Less than 500');

        $('ul.itemExtraFieldslist li:eq(2)').after('xxx');
      }
    });

</script>

</head>


<body>

  <header>

    <ul class="itemExtraFieldslist">

      <li>1</li>
      <li>2</li>
      <li class="price">3</li>
      <li>4</li>

    </ul>

 </header>

   <section>
   </section>



      <footer>
      </footer>

</body>
</html>
