<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Web Core</title>
  <meta name="description" content="documentation">
  <meta name="author" content="wizzfx">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/styles.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

</head>


<body>

  <header>

    Lorem Ipsum jest tekstem stosowanym jako
    przykładowy wypełniacz w przemyśle poligraficznym.
    Został po raz pierwszy użyty w XV w. przez nieznanego
    drukarza do wypełnienia tekstem próbnej książki. Pięć
    wieków później zaczął być używany przemyśle elektronicznym,
    pozostając praktycznie niezmienionym. Spopularyzował się w
    latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających
    fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem
    Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach
    osobistych, jak Aldus PageMaker

 </header>

   <section>
   </section>



      <footer>
      </footer>

</body>
</html>
