@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 12px;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

button {
  border: 0; }

body {
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-family: 'Source Sans Pro', sans-serif; }

.test {
  line-height: 2; }

.test2 {
  width: 50%; }

.note ul {
  list-style: none; }

@media (max-width: 1023px) {
  div.note {
    float: left;
    width: 100%;
    margin: 0;
    margin-top: 20px; }

  section {
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px; } }
@media (min-width: 1024px) {
  div.note {
    width: 500px;
    display: inline;
    float: left;
    margin: 10px;
    margin-top: 10px; }

  section {
    padding: 10px;
    margin: 0; } }
header {
  margin: 20px 0 0 20px; }
  header ul li {
    display: inline-block;
    padding: 5px; }
  header ul li:first-child {
    margin-left: -5px; }

.button-menu, .button-add {
  background-color: whitesmoke;
  border: 0px solid #e6e6e6;
  padding: 10px;
  border-radius: 5px;
  margin: 0; }
  @media (max-width: 1023px) {
    .button-menu, .button-add {
      font-size: 16px; } }

.button-color1 {
  height: 20px;
  width: 20px;
  background-color: #fff7e6;
  padding: 0; }

.button-color2 {
  height: 20px;
  width: 20px;
  background-color: whitesmoke;
  padding: 0; }

a.title {
  color: #b3b3b3;
  font-size: 22px; }

.note {
  min-height: 600px;
  background-color: #fff7e6;
  font-weight: normal;
  border: 1px solid #ffebbc;
  line-height: 22px;
  color: #000;
  -webkit-box-shadow: 0 3px 0px 0px #ccc; }

.note-title {
  font-size: 20px;
  font-weight: bold;
  color: #ebba51;
  margin-left: 10px;
  margin-top: 10px;
  padding-bottom: 10px; }

.note ul {
  padding: 10px;
  line-height: 16px; }

.note ul li {
  padding: 7px;
  line-height: 20px;
  font-size: 16px; }

.face {
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  background: url("../img/smile_01.png"); }

/* comments */
.main-nav {
  color: #ffffff; }
  .main-nav a {
    color: #000000; }
  .main-nav > h4 {
    color: #ffffff; }

.main-body {
  color: #ffffff;
  color: rgba(0, 0, 0, 0.5); }
  .main-body-font {
    font-family: arial; }

.teacher-tom {
  background-image: url("img/tom.jpg"); }

.teacher-mark {
  background-image: url("img/mark.jpg"); }

.teacher-piter {
  background-image: url("img/piter.jpg"); }

.teacher-bart {
  background-image: url("img/bart.jpg"); }

/*# sourceMappingURL=styles.css.map */
