// extends

%lists-clean {
  list-style: none;
}

%button-default {
  border: 0 solid darken($white, 10%);
  width: 100%;
  padding: 1.3em 0 1.3em 0; margin: 0;
  border-radius: $br;
  font-size: 1.2em; font-weight: bold;
}

%button-colors {
  padding: 0;
  height: 2em; width: 2em;
  background-color: #fff7e6;
}

// default notes look
