// extends

%lists-clean {
  list-style: none;
}

%button-default {
  border: 0 solid darken($white, 10%);
  width: 100%;
  padding: 1.3em 0 1.3em 0; margin: 0;
  border-radius: $br;
  font-size: 1.2em; font-weight: bold;
  cursor: pointer;
}

%button-colors {
  padding: 0;
  height: 2em; width: 2em;
  background-color: #fff7e6;
}

%emoticon-defaults {
  background: url('#{$path-img}/emoticons_01.png');
  line-height: 22px;
  position: relative;
  margin-left: 1em;
  top: 0.6em;
  height: 30px;
  width: 30px;
  display: inline-block;
}

// default notes look
