// variables

// descriptive color variables

$blue    :  #6CB1E0;
$white   :  #ffffff;
$black   :  #000000;
$yellow  :  #fff7e6;

// functional color variables

$color-prim     : $white;
$color-sec      : $black;
$color-shadow   : rgba($black,.5);
$blue-light     : lighten($blue, 20%);
$yellow-dark    : darken($yellow, 20%);

// font stack

$font-url--main : 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';
$font-family-primary: 'Source Sans Pro', sans-serif;
$stack-helvetica : 'Helvetica Neue', sans-serif;

// border radius

$br : 5px;

// asset path

$path-img : '../img';
$path-font: '../fonts';

// Media query breakpoints

$brk-mobile   : '(max-width: 769px)';
$brk-tablet   : '(max-width: 1144px)';
$brk-desktop  : '(min-width: 1145px)';

// max-width

$max-width: 400px;


// storing values in maps

$breakpoints: (
  'xs' : 575px,
  'sm' : 576px,
  'med': 590px,
  'lg' : 900px,
)
