@import 'reset';
@import 'body';
@import 'variables';
@import 'functions';
@import 'extends';
@import 'mixins';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

// ---------------------------------------------------
// @media
// ---------------------------------------------------

@media #{$brk-mobile} { }


@media #{$brk-desktop} { }

// ---------------------------------------------------
// menu
// ---------------------------------------------------


.colors-container { display: inline-block; float: left; }

.button:focus, .button:active, .button:hover { outline: none; }
.button::-moz-focus-inner { border: 0; }
.button {
     &-menu {
       @extend %button-default; margin-bottom: 0.5em;
       background-color: darken($white, 4%);
       color: darken($white, 70%); }
     &-menu:active {
       background-color: darken($white, 10%); }
     &-add {
       @extend %button-default;
       background-color: #5fcf80;
       color: $white; }
     &-add:active {
       background-color: darken(#5fcf80, 10%); }
}

.button {
     &-color1 {
       @extend %button-colors;
       background-color: #fff7e6; margin-left: auto;
       border: 0.15em solid darken(#fff7e6, 5%); margin-right: 0.2em; }
     &-color1:active { background-color: darken(#fff7e6, 8%); }
     &-color1:hover  { border: 0.15em solid darken(#fff7e6, 5%); margin-right: 0.2em; }

     &-color2 {
       @extend %button-colors;
       background-color: darken($white, 4%); margin-left: auto;
       border: 0.15em solid darken($white, 6%); }
     &-color2:active { background-color: darken($white, 8%); }
     &-color2:hover { border: 0.15em solid darken($white, 6%); }
 }


div.nav-title { float: left; padding-top: 0.1em; }
.nav-title a {
       color: darken($white, 30%); font-size: 2em;
       &:active { color: darken($white, 90%); }
}

header { margin: 0; }

.color-theme {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

div.nav-colors {
     margin-top: 0;
     margin-left: auto;
}
.nav-menu {
      width: auto;
      display: flex;
      flex-direction: column;
      padding-bottom: 1em;
}

// ---------------------------------------------------
// menu end
// ---------------------------------------------------

.note-grid {
    float: left;
    min-width: 16em;
    //grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    //grid-auto-rows: minmax(400px, auto);
}

.item { min-height: 16em; width: 100%; float: left;
        align-items: stretch;
        background-color: #fff7e6; font-weight: normal;
        border: 1px solid #ffebbc; line-height: 1em;
        color: #000; padding-bottom: 0.6em;
        -webkit-box-shadow: 0 3px 0px 0px darken($white, 15%);
        margin-bottom: 1.1em;

}

.note-title { @include text-title(20px, bold, #ebba51);
              margin-left: 10px; margin-top: 10px;padding-bottom: 10px; }

.item ul{ @extend %lists-clean;padding: 10px; line-height: 16px;}
.item ul li { padding: 7px; line-height: 20px;font-size: 16px;}
.face { width: 10px; height: 10px; margin: 0; padding: 0;
        background: url('#{$path-img}/smile_01.png'); }

// ---------------------------------------------------
// footer
// ---------------------------------------------------

footer p{
    clear: both;
    float: left;
    margin-left: auto;
    color: darken($white, 30%);
    font-size: 1.15em;
    width: 100%;
    padding: 50px 0 50px 0px;
    text-align: center;
}

// ---------------------------------------------------
// emoticons
// ---------------------------------------------------

.smile_01 {
  @extend %emoticon-defaults;
  background-position: -50px -10px;
}
.important {
    @extend %emoticon-defaults;
    background-position: 80px -10px;
}
.done {
    @extend %emoticon-defaults;
    background-position: 120px -13px;
}

// ---------------------------------------------------
// code styling
// ---------------------------------------------------

div.code {
  background-color: lighten(#2b303b, 10%);
  width: auto;
  padding: 1em;
  font-family: Consolas;
  font-size: 1em;
  border-radius: 5px;
  color: #f2f2f2;
  & p{ font-size: 1em; }
}

// sass --watch scss:css
/* comments */

// nested selectors - nesting examples ------------ //

// ">" child selector

.main-nav {
  color: $white;
  a { color: $black; }
  > h4 { color: $white ; }
}

//

.main-body {
  color: $white;
  &-font { font-family: arial; }
  color: rgba($black, 0.5);       // rgba color alpha
}

//
// loops through lists with @each
//

$teachers: ('tom','mark','piter','bart');

@each $teacher in $teachers {
  .teacher-#{$teacher} {
    background-image: url('img/#{$teacher}.jpg');
  }
}

//
// Loop through data in map with @each
//
