@import 'reset';
@import 'body';
@import 'variables';
@import 'extends';
@import 'mixins';

@include font-face-special ('Indie Flower', indieflower);

@media #{$brk-mobile} {
    div.note { float: left; width: 100%; margin: 0; margin-top: 20px;}
    section { padding: 0; margin-left: 20px; margin-right: 20px;
              margin-top: 20px;}
    button { margin: 0px; }}

@media #{$brk-desktop} {
    div.note { width: 500px; display: inline; float: left; margin: 10px;
               margin-top: 10px;}
    section { padding: 10px; margin: 0; }
    button { margin: 10px; }}

nav { margin: auto; }
h1 { font-family: Indie Flower; font-size: 46px; margin-top: 20px;
     text-align: center;}

button { background-color: $blue-light;
         border: 0px solid $blue; padding: 10px;
         border-radius: $br;
         -webkit-box-shadow: 0 3px 0px 0px #ccc;
         @media #{$brk-mobile} { font-size: 20px; }
       }

.note { min-height: 600px; background-color: #fff7e6;
        border: 1px solid #ffebbc; line-height: 16px;
        color: #000;
        -webkit-box-shadow: 0 3px 0px 0px #ccc;

  }

.note-title { @include text-title(20px, bold, arial, #ebba51);
              margin-left: 10px; margin-top: 10px;padding-bottom: 10px; }

.note ul{ @extend %lists-clean;padding: 10px; line-height: 16px; }
.note ul li { padding: 7px; font-size: 16px; line-height: 20px;}
.face { width: 10px; height: 10px; margin: 0; padding: 0;
        background: url('#{$path-img}/smile_01.png'); }



// sass --watch scss:css
/* comments */
